- print function

In [2]:
n1=100
n2=200
add=n1+n2
print(add)      #trigger
print('the addition of 100 and 200 is 300')
print('the summation of 100 and 200 is 300')

the addition of 100 and 200 is 300
the summation of 100 and 200 is 300

In [ ]:
# the write up : string quouts (red)
# 1000 and 2000 100 or 200
# stored in variable n1 and n2 (black)

In [3]:
n1=1000
n2=2000
add=n1+n2
print('the addition of 100 and 200 is 300')
print('the summation of 100 and 200 is 300')

the addition of 100 and 200 is 300
the summation of 100 and 200 is 300

In [4]:
n1=1000
n2=2000
add=n1+n2
print('the addition of n1 and n2 is add')

the addition of n1 and n2 is add

In [1]:
n1=1000
n2=200
add=n1+n2
print('the addition of n1 and n2 is add')
print('the addition of', n1, 'and', n2, 'is', add)  # right way

the addition of n1 and n2 is add
the addition of 1000 and 200 is 1200

In [6]:
print('hai',)
print('hello')
print('hai','hello')
print('hai','hello',100)
a=100
print('hai','hello',a)

hai
hello
hai hello
hai hello 100
hai hello 100

In [10]:
Name='vijay kumar'
age=22
city='machilipatnam'
print('my name is python im 10 year old. I came from hyderabad')
print('my name is',Name,' im',age,' old. I came from',city)

my name is python im 10 year old. I came from hyderabad
my name is vijay kumar  im 22  old. I came from machilipatnam

In [40]:
n1=100
n2=200
add=n1+n2
print('the addition of 100 and 200 is 300')
print('the addition of {} and {} is {}')
print('the addition of {} and {} is {}'.format(n1,n2,add))

the addition of 100 and 200 is 300
the addition of {} and {} is {}
the addition of 100 and 200 is 300

In [15]:
Name='vijay kumar'
age=22
city='machilipatnam'
print('my name is python im 10 year old. I came from hyderabad')
print('my name is {} im {} year old. I came from {}')
print('my name is {} im {} year old. I came from {}'.format(Name,age,city))

my name is python im 10 year old. I came from hyderabad
my name is {} im {} year old. I came from {}
my name is vijay kumar im 22 year old. I came from machilipatnam

**f-string**

- very very easy and most used method

In [17]:
n1=100
n2=200
add=n1+n2
print(add)      
print('the addition of 100 and 200 is 300')
print(f'the addition of {n1} and {n2} is {add}')

300
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300

In [23]:
n1=100
n2=200
add=n1-n2
print('the subtraction of {} and {} is {}'.format(n1,n2,add))
add=n1*n2
print(f'the multiplication of {n1} and {n2} is {add}')
add=n1+n2
print(f'the additon of {n1} and {n2} is {add}')

the subtraction of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the additon of 100 and 200 is 300

In [30]:
pi=3.15
r=100
area=pi*r*r
print('area_of_circle is',area)

area_of_circle is 31500.0

In [32]:
height=10
breadth=15
area_of_traingle=0.5*breadth*height
print('area of traingle = {}'.format(area_of_traingle))
print(f'area of traingle = {area_of_traingle}')

area of traingle = 75.0
area of traingle = 75.0

In [33]:
a=10
b=20
c=30
average=a+b+c/3
print('average ={}'.format(average))

average =40.0

In [35]:
bill_amount=1500
tip_amount=500
total_bill=bill_amount+tip_amount
print(f'total_bill={total_bill}')

total_bill=2000

In [38]:
salary=50000
tax=10
tax_amount=salary*tax/100
print('tax_amount= {}'.format(tax_amount))

tax_amount= 5000.0

In [1]:
pi=3.14
radius=100
area_of_circle=pi*radius*radius
print(

_IncompleteInputError: incomplete input (3878473410.py, line 4)

In [3]:
pi=3.14
radius=100
area_of_circle=pi*radius*radius
print('area of the circle is : {}',format(area_of_circle))

area of the circle is : {} 31400.0

In [4]:
pi=3.14
radius=100
area_of_circle=pi*radius*radius
print('area of the circle is : {},format(area_of_circle))

SyntaxError: unterminated string literal (detected at line 4) (4075507162.py, line 4)

In [5]:
pi=3.14
radius=100
area_of_circle=pi*radius*radius
print('area of the circle is : {}',format(area_of_circle))

area of the circle is : {} 31400.0

In [6]:
pi=3.14
radius=100
area_of_circle=pi*radius*radius
print('area of the circle is : {}',format(area_of_circel))

NameError: name 'area_of_circel' is not defined

In [7]:
pi=3.14
radius=100
area_of_circle=pi*radius*radius
print('area of the circle is : {}',format(area_of_circle))

area of the circle is : {} 31400.0

In [9]:
print('area of the circle is : {}',format(area_of_circle)

_IncompleteInputError: incomplete input (1416365883.py, line 1)

In [10]:
print('area of the circle is : {}',format(area_of_circle))

area of the circle is : {} 31400.0

In [15]:
print(f'area of the circle is : {area_of_circle')

SyntaxError: f-string: expecting '}' (609219225.py, line 1)

In [16]:
print(f'area of the circle is : {area_of_circle}')

area of the circle is : 31400.0